.cssBox {
    position: relative;
    font-size: 12px;
    background-color: yellowgreen;
}
.cssBox .showStyleControls {
    position: absolute;
    right:0;
}

script + p {
    border: 2px dashed yellowgreen;
    margin: 10px 0px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2;
    width: auto;
}